strong {
	font-weight: bold;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

a:visited {
}

a:hover {
	text-decoration: underline;
}
